{% extends 'base.html' %}

{% block title %}Song search test{% endblock %}


{% block sidebar %}
<h2> Search results (by {{type}})</h2>
<p>
	You searched for '{{term}}' <br>
	Found {{results.count}} results <br>
	Source: Local
{% endblock %}

{% block content %}

{% for i in results %}
<div class = "boxified main">
	<h3>{{i.name}}</h3>
	{% for j in albums %}
	<p> <tab>
	{% if j.artist.name == i.name %}
	<h3> {{ j.album_name }} - {{ j.year }} </h3>
	{% endif %} </p>
	{% endfor %}
</div>
{% endfor %}
{% endblock %}
