/* In css, bottom overrides top, therefore always place generic styles such as 'buttoned' on top
   and specific styles such as 'sidebar' in the bottom.*/

/* Body background and default stuff*/

body {
	color: white;
	font-family: helvetica;
	margin: 15px;
	margin-top: 70px;

	background-color: black;
	background-size: cover;
}


@font-face {
font-family: 'PalanquinDark';
src: url('/files/fonts/palanquindark/PalanquinDark-Regular.ttf');
}


#logo-nav{
	font-family: 'PalanquinDark';
	font-size: 1.2em
}


.text_home{
	font-size: 1.5em;
}

img .hero {
    position: absolute;
    clip: rect(0px,60px,200px,0px);
}

#header{ width:100%;
