.signup_form{


}

#login_submit{
	background-color: black;
	color: white;
	margin-left: 6vw;
}


.centered {
    margin: 0 auto;
    margin-bottom: 30px;
    text-align: left;
    width: 65vw;

    padding: 50px;
    font-size: 15px;
    background-color: rgba(0,0,0,0.6);
    border-radius: 10px;
}

.centered h2{
     color: white;
     font-size: 3 0px;
     text-align: center;
}

#first_name_id{
     font-size: 100px;
}

@font-face {
font-family: 'PalanquinDark';
src: url('../fonts/PalanquinDark-Regular.ttf');
}


#nav_bar{
	position:fixed;
	width : 100vw;
	list-style-type: none;
	background-color: #282525;
	overflow: hidden;
	margin : -15px;
	margin-top: -70px;
	padding: 0px;
	height : 58px;
}

#nav_bar li, #nav_bar li a {
	float: left;
	display: block;
	color: white;
	font-family: PalanquinDark;
	letter-spacing: 2px;
	text-decoration: none;
}

.nav_bar_home{
	background-color: #424949;
	font-size: 30px;
	letter-spacing: 5px;
     padding:10px;
     padding-top: 0px;
}

.nav_bar_tab{
	float: left;
	display: block;
	color: white;
	font-size: 20px;
	font-family: PalanquinDark;
	padding: 12px 20px;
	letter-spacing: 2px;
	text-decoration: none;
}

.nav_bar_tab:hover{
	background-color: blue;

}

body {
	color: white;
	font-family: helvetica;
	margin: 15px;
	margin-top: 70px;
	background: url(/files/images/background.jpg) no-repeat center fixed;
	background-size: cover;
}
