/* In css, bottom overrides top, therefore always place generic styles such as 'buttoned' on top
   and specific styles such as 'sidebar' in the bottom.*/

/* Body background and default stuff*/

body {
	color: white;
	font-family: helvetica;
	margin: 15px;
	margin-top: 70px;
	background: url(/files/images/background.jpg) no-repeat center fixed;
	background-size: cover;
}

/* Main style is anything on the right side of the website.*/
.main {
	float:right;
    margin-bottom: 2vh;
    text-align: left;
    width: 74vw;
    font-size: 15px;
}

.main h2{
     color: white;
     font-size: 3 0px;
     text-align: center;
}

/* Generic style for clickable shit*/

.buttoned{
	font-family: PalanquinDark;
	background-color: rgba(0,0,0,0);
	color: white;
}

/* Generic style for wrapping stuff in a box*/

.boxified{
	background-color: rgba(0,0,0,0.6);
	border-radius: 10px;
	padding: 3vw;
}

/* Nav bar */
#nav_bar{
	position:fixed;
	width : 100vw;
	list-style-type: none;
	background-color: #282525;
	overflow: hidden;
	margin : -15px;
	margin-top: -70px;
	padding: 0px;
	height : 58px;
	z-index: :0;
}

#nav_bar li, #nav_bar li a {
	float: left;
	display: block;
	color: white;
	font-family: PalanquinDark;
	letter-spacing: 2px;
	text-decoration: none;
}

.nav_bar_home{
	background-color: #424949;
	font-size: 30px;
	letter-spacing: 5px;
     padding:10px;
     padding-top: 0px;
}

.nav_bar_tab{
	float: left;
	display: block;
	color: white;
	font-size: 20px;
	font-family: PalanquinDark;
	padding: 12px 20px;
	letter-spacing: 2px;
	text-decoration: none;
}

.nav_bar_tab:hover, .nav_bar_tab:active{
	background-color: blue;
}

/* Sidebar */
.sidebar{
	float:left;
	margin-left: 0;
	width: 14vw;
	text-align: center;
	padding: 1vw;
}

.sidebar img{
	width: 13vw;
	height: 13vw;
	margin-top: 2vh;
}

@media (max-width:1280px){
	.sidebar{
		display:none;
	}
	.main{
		width:100vw;
	}
}




#first_name_id{
     font-size: 100px;
}

@font-face {
font-family: 'PalanquinDark';
src: url('../fonts/PalanquinDark-Regular.ttf');
}


